.nav {
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  padding: 20px 0px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-evenly;
}
.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}
.nav .nav__badge {
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
