.status-bar {
  display: flex; /* 1줄 표기 */
  justify-content: space-between; /* 중앙에 공간 넣기 */
  margin-bottom: 30px;
  /* opacity: 0.7; */
  color: #4e4e4e;
  position: fixed;
  width: 100%;
  top: 0;
  border-top: 10px;
  border-bottom: 20px;
  border-color: white;
  border-style: solid;
  background-color: white;
}

.status_bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 10px;
}
